<h3><%-pageTitle  %></h3>

<a href="/admin/products/create" class="btn btn-info">Add Product</a>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for( let index = 0; index < products.length; index++ ) { %>
            <tr>
                <td><%= products[index]._id %></td>
                <td><%= products[index].name %></td>
                <td><%= products[index].price %></td>
                <td><img src="<%= products[index].image %>" alt="<%= products[index].title %>" style="width: 100px; height: auto;"></td>
                <td><%= products[index].description %></td>
                <td><%= products[index].category ? products[index].category.name : 'No category' %></td>
                <td>
                    <a href="/admin/products/edit/<%= products[index]._id %>" class="btn btn-warning">Edit</a>
                    <form action="/admin/products/delete/<%= products[index]._id %>" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger mt-2">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<ul class="pagination justify-content-center p-3">
    <!-- Previous Button -->
    <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
        <a class="page-link text-secondary" href="/admin/products/<%= page - 1 %>">Previous</a>
    </li>

    <!-- Loop to generate page numbers -->
    <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= page == i ? 'active' : '' %>">
            <a 
                class="page-link <%= page == i ? 'bg-secondary text-white' : 'text-secondary' %>" 
                href="/admin/products/<%= i %>">
                <%= i %>
            </a>
        </li>
    <% } %>

    <!-- Next Button -->
    <li class="page-item <%= page == totalPages ? 'disabled' : '' %>">
        <a class="page-link text-secondary" href="/admin/products/<%= page + 1 %>">Next</a>
    </li>
</ul>

<div class="pagination mb-3 justify-content-center">
    Page <%= page %> of <%= totalPages %>
</div>